* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-image: linear-gradient(
    135deg,
    #11191b 0,
    #12191b 5%,
    #12191c 10%,
    #13181c 15%,
    #13181c 20%,
    #14181d 25%,
    #15181d 30%,
    #16181d 35%,
    #16171c 40%,
    #17171c 45%,
    #18171c 50%,
    #19171c 55%,
    #1a171b 60%,
    #1a161b 65%,
    #1b161a 70%,
    #1b161a 75%,
    #1c1619 80%,
    #1c1618 85%,
    #1d1618 90%,
    #1d1617 95%,
    #1d1616 100%
  );
}
