@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,900&display=swap");

.nav ul {
  z-index: 1000;
  height: 5vh;
  width: 100%;
  padding: 0 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #070d1f;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

.navbar__link_img {
  width: 50px;
}

ul li .navbar__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffefd5;
  cursor: pointer;
}

ul li .navbar__link:hover,
.navbar__link_img:hover {
  font-size: 1.5rem;
  width: 60px;
  transition: font-size 0.15s linear 0.1s;
  transition: width 0.15s linear 0.1s;
}

@media (max-width: 650px) {
  .nav ul {
    width: 100vw;
  }
}
