.detail__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail__content {
  width: 75%;
  padding-right: 15px;
  background: transparent;
  border: 3px solid gold;
  border-radius: 20px;
  box-shadow: 2px 2px 15px #fff;
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  position: relative;
  object-fit: cover;
}

.detail__content:hover {
  box-shadow: 3px 3px 15px papayawhip inset;
}

.detail__img img {
  width: calc(37%);
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 20px 0 0 20px;
}

.detail__content_info {
  padding-left: 40%;
}

.detail__title {
  padding: 10px 0 15px 0;
  text-align: center;
  font-size: 2rem;
}

.detail__genders {
  font-size: 1.3rem;
  text-align: end;
  color: #07ff07;
}

.detail__date {
  padding: 10px 0;
  color: #ff0000;
}

.detail__rating {
  padding: 10px 0;
  font-size: 1.5rem;
  text-align: end;
  color: #ffd700;
}

.detail__platforms {
  color: #3498db;
  padding: 10px 0;
  text-align: center;
}

.detail__texto {
  padding-bottom: 10px;
  /* font-size: 1rem; */
  font-weight: 600;
  text-align: justify;
}

.detail__btn button {
  margin-top: 10px;
  padding: 1px 10px;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #ffefd5;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  border: 3px solid #ffff0095;
  border-radius: 35px;
  cursor: pointer;
}

.detail__btn button:hover {
  border-color: #ffff00;
  box-shadow: 3px 3px 15px #ffff00 inset;
}
